{% extends 'shop\base.html' %}

{% block content %}

    <div class="container">
		<section class="main-section contact" id="contact">

			<div class="row">
				<div class="col-lg-6 col-sm-7 wow fadeInLeft">
					<div class="contact-info-box address clearfix">
						<h3><i class=" icon-map-marker"></i>Адрес:</h3>
						<span>Нижегородская обл. г Дзержинск, Октябрьская 26.</span>
					</div>
					<div class="contact-info-box phone clearfix">
						<h3><i class="fa fa-phone"></i>Тел:</h3>
						<span>+7-910-799-15-24</span>
					</div>
					<div class="contact-info-box email clearfix">
						<h3><i class="fa fa-pencil"></i>email:</h3>
						<span>sniperfich@yandex.ru</span>
					</div>
					<div class="contact-info-box hours clearfix">
						<h3><i class="fa fa-clock-o"></i>Режим работы:</h3>
						<span><strong>Ежедневно:</strong> 8:00 - 20:00</span>
                    </div>
					<ul class="social-link">
						<li class="facebook"><a href="#"><i class="fa fa-vk"></i></a></li>
						<li class="dribbble"><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li class="twitter"><a href="#"><i class="fa fa-telegram"></i></a></li>
					</ul>
				</div>
				<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
					<div class="form">

						<div id="sendmessage">Ваше сообщение отправлено. Спасибо!</div>
						<div id="errormessage"></div>
						<form action="" method="post" role="form" class="contactForm">
							<div class="form-group">
								<input type="text" name="name" class="form-control input-text" id="name" placeholder="Ваше имя" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<input type="email" class="form-control input-text" name="email" id="email" placeholder="Ваш Email" data-rule="email" data-msg="Please enter a valid email" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control input-text" name="subject" id="subject" placeholder="Тема" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<textarea class="form-control input-text text-area" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Сообщение"></textarea>
								<div class="validation"></div>
							</div>

							<div class="text-right">
								<button type="submit" class="btn btn-success">Отправить</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>

{% endblock content %}